.App {
  margin: 0;
  padding: 0;

  text-shadow: 2px 2px 3px black;
}

.title {
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 4px;

  background-color: rgba(255,255,255,0.05);
  box-shadow: 0px 0px 3px black;

  text-align: center;
  font-size: 28px;
  
  padding-top: 18px;
  padding-bottom: 10px;
}